
<table style="text-align:center"><caption><strong>Descriptive statistics Variables laborales</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">pension</td><td>16,542</td><td>1.5</td><td>0.5</td><td>1</td><td>3</td></tr>
<tr><td style="text-align:left">salud</td><td>15,122</td><td>1.3</td><td>0.7</td><td>1</td><td>3</td></tr>
<tr><td style="text-align:left">cuenta propia</td><td>16,542</td><td>0.3</td><td>0.5</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">formal</td><td>16,542</td><td>0.6</td><td>0.5</td><td>0</td><td>1</td></tr>
<tr><td style="text-align:left">horas usual</td><td>16,542</td><td>47.0</td><td>15.5</td><td>1</td><td>130</td></tr>
<tr><td style="text-align:left">oficio</td><td>16,542</td><td>49.8</td><td>28.1</td><td>1</td><td>99</td></tr>
<tr><td style="text-align:left">Tiempo en empresa</td><td>16,542</td><td>63.8</td><td>89.5</td><td>0</td><td>720</td></tr>
<tr><td style="text-align:left">tamaño firma</td><td>16,542</td><td>3.2</td><td>1.6</td><td>1</td><td>5</td></tr>
<tr><td style="text-align:left">other job</td><td>16,542</td><td>2.0</td><td>0.2</td><td>1</td><td>2</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
