
<table style="text-align:center"><caption><strong>Descriptive statistics - Variables ingresos</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">salary - real hourly (usual)</td><td>9,892</td><td>7,945.6</td><td>11,607.2</td><td>151.9</td><td>291,666.7</td></tr>
<tr><td style="text-align:left">Intereses y dividendos por inversiones</td><td>16,542</td><td>8,378.8</td><td>351,388.7</td><td>0.0</td><td>33,333,333.0</td></tr>
<tr><td style="text-align:left">Pensiones y jubilaciones</td><td>16,542</td><td>38,295.3</td><td>416,717.7</td><td>0</td><td>24,000,000</td></tr>
<tr><td style="text-align:left">Arriendos</td><td>16,542</td><td>49,657.8</td><td>328,673.6</td><td>0</td><td>12,000,000</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
